@import url('https://fonts.cdnfonts.com/css/poppins');

ul {
    list-style-type: none;   
}

nav {
    background-color: rgb(172, 169, 169);
    box-shadow: 0 1px 4px white;
    height: 10vh;
}

.fa-bars {
    color: #fff;
}

.menu a {
    text-decoration: none;
    color: #fff;
    letter-spacing: .2rem;
    display: block;
    padding: .6rem 3rem;
    transition: all 0.3s linear;
    
}

.menu a:hover {
    background: rgb(233, 233, 135);
    color: black;
    padding-left: 1.5rem;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1rem;
}

@media (min-width: 800px) {
    .nav-main {
        max-width: 1170px;
        margin: 0 auto;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-bar {
        padding: 0;
    }

    .fa-bars {
        display: none;
    }

    .menu {
        height: auto;
        display: flex;
    }

    .menu a {
        padding: .5rem;
        margin: 0 .5rem;
        letter-spacing: 2px;
    }

    .menu a:hover {
        text-decoration-color: darkgreen;
    }
}
